
body{
    background-image:url(photo/blue2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    min-height:960px;
}

#wrapper{
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
    width:80%;
    min-width:960px;
    min-height:480px;
    background-color:#3399CC;
}

#intro{
    padding-top:20px;
    float:left;
    width:175px;
    background-color:#3399CC;
    text-align:center;
}

#intro a{
    text-decoration:none;
}

#content{
    padding:10px 20px 20px 20px;
    margin-left:175px;
    background-color:#90C7E3;
    min-height:480px;
}

#content h3{
    text-align:center;
}

#content input{
    height:30px;
    font-size:25px;
    font-family:Georgia, "Times New Roman", "Serif";
}

#content textarea{
    margin-top:20px;
    width:680px;
    height:400px;
    overflow-y:visible;
    font-size:18px;
    font-family:Georgia, "Times New Roman", "Serif";
}

#save{
    margin-left:625px;
    margin-top:20px;
    width:50px;
}
